/* home content */
.home-content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}

.appoint-button{
    background-color:#b68761;
	color: white;
    font-size: 25px;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 20px 25px;
	border-radius: 32px;
	
}


.appoint-button:hover{
    background-color: transparent;
	color: #b68761;
    border: 2px solid #b68761;
	transition: ease-in; 
}

/* Nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  nav ul li a:hover {
    color: #D66171;
    transition: .4s;
  }
  
  .btn {
    background-color: #7b925a;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
  }
  
  .btn:hover {
    transform: scale(1.2);
  }
  
