/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 50px; 

}

/* Background Wrapper (for home page) */
.background-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('/images/pink_spa_bg.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Home Page Specific Styles */
.home-page .main-content {
  background-color: transparent;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
}

/* Other Pages Background */
.other-page .main-content {
  background-color: #ffffff;
}

/* Button Styling */
.appoint-button {
  background-color: #D66171;
  color: white;
  font-size: 25px;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 20px 25px;
  border-radius: 32px;
}

.appoint-button:hover {
  background-color: transparent;
  color: #D66171;
  border: 2px solid #D66171;
  transition: ease-in;
}

/* Nav bar */
nav {
  background-color: #FDB3BD;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

nav ul.nav-right {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f0d7e2;
}

/* Footer start */
footer {
  width: 100%;
  background: #FDB3BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d66171;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover {
  transform: scale(1.3) rotate(-20deg);
  transition: 0.3s;
}

.end {
  color: white;
  font-size: 14px;
}

/* Footer end */

/* Form Pages */
.form-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 500px;
  max-width: 100%;
}

.form-header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.form-header h2 {
  margin: 0;
}

.form-content {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

form button {
  background-color: #D66171;
  border: 2px solid #D66171;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

form button[type="button"] {
  background-color: #fff;
  border-color: #D66171;
  color: #D66171;
  margin-top: 10px;
}

form button[type="button"]:hover {
  background-color: #f7f7f7;
}

.btn {
  background-color: #D66171;
  color: white;
}

.btn:hover {
  background-color: transparent;
  color: #D66171;
  border: 2px solid #D66171;
  transition: ease-in;
}

.link {
  color: #4f2a2f;
  text-decoration: none;
}
.link:hover {
font-weight: bold;
  color: #2f2022;
}

h1, h2, h3, h4, h5, h6 {
  color: #7c4048;
}

label {
  color: #722e37;
}